/* Style the HTML (scroll) */
html {
  scroll-behavior: smooth;
}

/* Style the Whole body */
body{
    background-color:rgb(233, 233, 233);
}

/* Style the top navigation bar */
.topnav {
    background-color:rgb(255, 255, 255);
    overflow: auto;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
  }

/* Style the topnav links */
.topnav a {
float: right;
display: block;
color: #201f1f;
text-align: match-parent;
font-size: 25px;
padding: 20px 30px;
text-decoration: none;
font-weight:lighter;
font-weight:bold
}

/* Style the topnav links */
.leftnav a{
    float:left;
    padding: 20px 5px;
    font-weight:bold;
}

/* Change color on hover */
.rightnav a:hover {
    background-color: #bf9292;
    color: black;
    }

/* Split the screen in half */
.content{
    width: 90%;
    margin: 50px auto;
    overflow: auto;
}

.left_block{
  background-color:rgb(217, 206, 192);
  width: 35%;
  height: auto;
  float: left;
  padding: 5px;
  border-radius: 20%;
}


.left_block img{
  object-fit:scale-down;
  border-radius: 20%;
  }

.right_block{
  background-color:rgb(243, 243, 243);
  float: right;
  width: 55%;
  padding: 0px 50px 20px 20px;
}

.right_block img{
  width:8%;
}

.right_block a{
  text-decoration: none;
}

/* Style of footer */
.footer {
  border:2px inset black;
  padding: 0px 20px 0px 20px;
}

.footer p{
  float: right;
  position: relative;
  font-style: italic;
  line-height:150%
}